.env
node_modules

<select id="category" name="category">
            <option value="adhesives" <%= category === 'adhesives' ? 'selected' : '' %>>Adhesives</option>
            <option value="tools" <%= tools === 'tools' ? 'selected' : '' %>>Tools</option>
        </select>