<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1>Please choose from one of the following categories:</h1>
    <ul>
        <form action="/crafts/adhesives">
            <button type="submit">Adhesives</button>
        </form>
        <form action="/crafts/notions">
            <button type="submit">Notions</button>
        </form>
        <form action="/crafts/paper">
            <button type="submit">Paper</button>
        </form>
        <form action="/crafts/textiles">
            <button type="submit">Textiles</button>
        </form>
        <form action="/crafts/tools">
            <button type="submit">Tools</button>
        </form>
        <form action="/crafts/vinyl">
            <button type="submit">Vinyl</button>
        </form>
    </ul>
    <form action="/crafts/new">
        <button type="submit">Add Item to Craft Room</button>
    </form>
</body>
</html>