<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Craft Room</h1>
    <p>An app to digitaly store and organize all your crafting materials in one place!</p>
    <form action="/crafts/new">
        <button type="submit">Add Item to Craft Room</button>
    </form>
    <form action="/category">
        <button type="submit">View Categories</button>
    </form>
</body>
</html>