<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adhesives</title>
</head>
<body>
    <h1>Adhesives:</h1>
    <ul>
        <% crafts.forEach (crafts => { %>
            <% if (crafts.category === "adhesives") { %>
                <li><a href="/crafts/<%=crafts._id%>" id="indexList"><%= crafts.itemName %></a></li>
            <%}%>
        <%})%>
    </ul>
    <form action="/crafts/new">
        <button type="submit">Add Item to Craft Room</button>
    </form>
    <form action="/category">
        <button type="submit">View Categories</button>
    </form>
</body>
</html>